
  
  .overview-cards {
    display: flex;
    justify-content: center;
    gap: 3rem;
  }
  
  .cardss {
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 0.5rem;
    width: 250px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .amount {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .change.positive {
    color: green;
  }
  
  .change.negative {
    color: red;
  }
  
  .difference {
    font-size: 0.9rem;
    color: gray;
  }
  