.band-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #8fe8d7;
    padding-top: 2rem;
    padding-bottom: 2rem;
    column-gap: 1rem;
    width: 99vw;
    
}

.band-image {
    width: 150px;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: 1cm black;
}

/* Optional: Add hover effects for the images */
.band-image:hover {
    transform: scale(1.1); /* Slightly increase size on hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Adds a shadow */
}
