.ngo-map-container {
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: auto ;
    margin-top: 5rem;
    border-color: black;
    border-width: 1px;
    flex-direction: row;
  }
  .map-legend {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .map-section {
    position: relative;
  }

  

  .india-map {
    width: 35rem;
    height: auto;
  }
  
  .map-points .dot {
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: red;
    border-radius: 50%;
  }
  
  .info-section {
    display: flex;
    flex-direction: column;
  }
  
  .highlight {
    color: #e74c3c;
  }
  
  .state-dropdown select {
    padding: 5px;
    font-size: 16px;
  }
  
  .stats {
    margin-top: 20px;
  }
  
  .stat-item {
    display: flex;
    align-items: center;
    font-size: 16px;
    margin-top: 10px;
  }
  
  .icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    font-weight: bold;
    font-size: 20px;
    margin-right: 10px;
  }
  
  .certified-icon {
    color: #e74c3c;
  }
  
  .star-icon {
    color: #2ecc71;
  }
  
  .count {
    margin-left: auto;
    font-weight: bold;
  }
  
  p {
    display: flex;
    align-items: center;
    gap: 4px; /* Adjusts spacing between elements */
    font: Roboto, sans-serif; /* Set to your desired font */
    font-size: 2rem;
}

.inline {
    display: inline;
}

.special-style {
    color: red;
    font-family: 'Lobster', sans-serif; /* Set to your desired font */
}

.ngo-map-container{
  margin-bottom: 5rem;
}