/* Body Component Styles */
.body-container-unique {
    background-color: white;
    padding: 20px;
    font-family: Arial, sans-serif;
}

.content-unique {
    margin: 0 auto;
    max-width: 1200px;
}

.image-line-unique {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: center;
    margin-left: 10rem;
}

.text-section-unique {
    flex: 1;
}

.content-headline-unique {
    font-size: 2.5em;
    font-weight: bold;
    color: #333;
}

.content-description-unique {
    font-size: 1.2em;
    color: #555;
    margin-top: 10px;
}

.login-image-unique {
    flex: 2;
    max-width: 32rem;
    height: auto;
    /* margin-left:     ; */
    margin-right: 10rem;

}
