/* Registration Form Styles */
.registration-form-unique {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px auto; /* Center the form horizontally */
  max-width: 60%; /* Limit the form width to 70% of the parent container */
}

.form-header-unique h3 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.form-body-unique input, .form-body-unique textarea, .form-body-unique label {
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.form-body-unique button {
  width: 100%;
  padding: 12px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.form-body-unique button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
