/* body {
    background: #eeeeee;
} */

.news {
    width: 5rem;
}

.news-scroll a {
    text-decoration: none;
    color: black;
    border: black;
}

.dot {
    height: 6px;
    width: 6px;
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 2px !important;
    background-color: rgb(114, 194, 153);
    border-radius: 50%;
    display: inline-block;
    transform: translateY(-0.21rem);
}
.separator {
    display: inline-block;
    width: 4rem;
    margin-left: 4rem;
    margin-right: rem;
}

.breaking-news {
    display: flex;
    align-items: center;
    background-color: rgb(106, 222, 172);
}

.news-scroll {
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    position: relative;
    background-color:   #b0e6db;
}
 
.scroll-content {
    display: inline-block;
    padding-left: 100%;
    height: 3rem;
    margin-top: 1rem;
    margin-bottom: -0.4rem;
    align-items: center;

    animation: scroll-left 15s linear infinite;
    
    
    
}

.Money{
    color: #03b358;
}

.news-scroll.paused .scroll-content {
    animation-play-state: paused;
}

@keyframes scroll-left {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.scroll-content{
    font-family: Roboto;
    font-size: 1.3rem;
}