.Body {
    padding: 0px;
    margin-top: 0px;
    display: flex-start;
    justify-content: flex-start; /* Aligns the content to the left (optional, can be changed) */
    align-items: flex-start; /* Aligns the content to the top */
    /* height: 100vh; Optional: make the div take the full viewport height */
}



.content{
    margin-left: 15rem;
   position: absolute;
   top:200px;
    align-items: flex-start;
    display: inline;
    color:black;
    text-align: left;
    
}


.content-headline{
    font-size: 2.7rem;
}
.login-image {  
    position: absolute;
    top: 0px;
    left: calc(120% - 5rem); /* Move 100px to the left */
    width: 400px; /* Adjust the width as needed */
    height: auto; /* Maintain the image aspect ratio */
    padding-top: 2rem;
}

