.Body {
    padding: 0px;
    margin-top: 0px;
    display: flex-start;
    justify-content: flex-start; /* Aligns the content to the left (optional, can be changed) */
    align-items: flex-start; /* Aligns the content to the top */
    /* height: 100vh; Optional: make the div take the full viewport height */
}

.content {
    display: flex;
    align-items: flex-start; /* Ensures the text and image are aligned at the top */
    color:black;
}

.login-image {
    width: 400px; /* Adjust the width as needed */
    height: auto; /* Maintain the image aspect ratio */
    margin-left: 20px; /* Space between h1 and image */
}
