.text-black {
    color: black !important;
  }

  
  

  .footer-container a {
    color: black;
    text-decoration: none; /* Remove underline */
  }
  
  .footer-container a:hover {
    text-decoration: underline; /* Optional: Underline on hover */
  }
  
  .footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #73e0cc; /* Custom background color */
    font-family: 'Roboto', sans-serif; /* Font family */
    font-size: 1.5rem;
    opacity: 0.9;
    border-top: 5px solid black; 
  }
  
  .footer .container {
    max-width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  
  .footer a {
    color: black;
    text-decoration: none; /* Remove underline */
  }
  
  .footer a:hover {
    text-decoration: underline; /* Optional underline on hover */
  }
  
  .footer-bottom {
    background-color: rgba(0, 0, 0, 0.2);
    color: black;
  }

  .text-uppercase{
    font-weight: 900;
    font-size: 1.7rem;
  }

  .social-icon {
    width: 30px; /* Adjust the size of the social icon */
    height: 30px; /* Adjust the size of the social icon */
    margin-right: 10px; /* Add some spacing */
 }

 #1, #2 {
    width: 24px; /* Adjust the size of the social icon */
    height: 24px; /* Adjust the size of the social icon */
    margin-right: 20px; /* Add some spacing */
}


#logo{
    width: 100px;
    height: 100px; /* Corrected height value */
}

.footer .left-margin {
    margin-left: 200px; /* Adjust the value as needed */
  }
  

.container p-4{
    display: flex;
    justify-content: space-around;
}
