/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Ensures padding doesn't affect the width */
/* } */ 

.header {
  background-color: #1BC2A4; /* Green color */
  width: 100vw; /* Make the header stretch to the full width of the viewport */
  min-height: 30px; /* Adjust this based on your design, replaced px with rem */
  display: flex;
  justify-content: space-between; /* Align items to the edges */
  align-items: center; /* Vertically center items */
  text-align: center;
  color: rgb(9, 9, 9); /* Dark text color */
  padding: 0 3rem; /* Add padding to the sides for spacing */
  position: relative; /* Keeps it in the document flow */
}


.header-content {
  margin-left: 7rem; /* Adjusted margin to rem */
  display: flex;
  justify-content: space-between; /* Align items to the edges */
  align-items: center; /* Vertically center items */
  text-align: center;
}

.header-navBar {
  color: rgb(9, 9, 9);
}

@media (max-width: 992px) {
  .header {
    min-height: 17rem; /* Smaller height for tablet and below */
    padding: 0 2rem; /* Reduce side padding */
  }

  .header-content {
    margin-left: 5rem; /* Adjust based on screen size */
  }
}

@media (max-width: 768px) {
  .logo {
    width: 8rem; /* Adjust logo size */
  }
  .header-content {
    margin-left: 2rem; /* Adjust the header content margin */
  }
  .header-navBar {
    font-size: 1rem; /* Adjust font size */
  }
  .donate-button {
    padding: 0.5rem 1rem; /* Adjust padding */
  }
}

.logo {
  margin-top: 2rem;
  width: 16rem; /* Adjust width to rem */
  height: auto; /* Maintain aspect ratio */
  margin-right: auto; /* Push all other elements to the right */
  transform: translateY(-1.5rem); /* Shift logo up */
}

.header-content {
  display: flex;
  justify-content: space-around; /* Distribute space evenly */
  margin-left: 2rem;
  align-items: center; /* Vertically center items */
  width: calc(100% - 20rem); /* Adjust width taking logo into account */
}

.header-navBar {
  font-size: 1.5rem; /* Adjust to rem */
  margin: 1rem;
  background-color: rgba(255, 255, 255, 0.5); /* Semi-transparent background for readability */
  padding: 0.5rem 1rem; /* Adjust padding to rem */
  border: none;
  font-family: Arial, sans-serif;
}

.header-navBar:hover {
  color: aliceblue;
  opacity: 80%;
  cursor: pointer;
}

.donate-button {
  margin-top: 2rem;
  background-color: #ff5a5f;
  color: rgb(9, 9, 9);
  font-size: 1.5rem;
  border: none;
  padding: 0.8rem 1.5rem; /* Adjust padding using rem */
  border-radius: 5rem;
  cursor: pointer;
  transform: translateY(-1rem); /* Move the button up by 0.5rem */
}

.donate-button:hover {
  background-color: #e04d4f;
}
