.place-box {
    border: 0.1072rem solid #ebeaea;
    border-radius: 1.0752rem;
    padding: 1.72032rem;
    width: 26.88rem;
    font-family: Arial, sans-serif;
}

.state-dropdown {
    display: flex;
    justify-content: center;
    padding: 0.86016rem;
    border-radius: 0.86016rem;
    border: 0.25rem solid #a1e1eb;
    background-color: #ffffff;
    margin-bottom: 1.72032rem;
    font-weight: 900;
}

.state-dropdown select {
    border: none;
    outline: none;
    font-size: 1.2rem;
    width: 100%;
    background: none;
    padding: 0.24rem;
    color: #333;
    font-weight: 700;
}

.stats {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.stat-item {
    display: flex;
    align-items: center;
    padding: 0.86016rem;
    border: 0.1072rem solid #e0e0e0;
    border-radius: 0.86016rem;
    background-color: #ffffff;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.58048rem;
    height: 2.58048rem;
    border-radius: 50%;
    font-size: 1.93536rem;
    margin-right: 0.86016rem;
}

.certified-icon {
    background-color: #ffffff;
    color: #e74c3c;
}

.star-icon {
    background-color: #e4f7e4;
    color: #1b7642;
}

.count {
    margin-left: auto;
    font-weight: bold;
    padding: 0.43008rem 0.86016rem;
    background-color: #ffffff;
    border-radius: 0.86016rem;
}
