.header {
  background-color: #0ea47a; /* Green color */
  height: 300px;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
}

.content {
  padding: 50px;
  color: white;
  text-align: center;
}

h1 {
  font-size: 36px;
}
